// Font Family
$font-family-base    : 'Alice', serif;

// Font Sizes
$font-size-title-sm : 1.0rem;
$font-size-title-md : 1.4rem;
$font-size-title-lg : 1.8rem;
$font-size-title-xl : 2.0rem;

$font-size-icon    : 3.0rem;
$font-size-icon-md : 4.5rem;
$font-size-icon-lg : 5.0rem;
