// Background Colors
$primary-background         : rgba(0, 0, 0, 0.796);
$primary-background-light   : #0E0F10;
$primary-background-dark    : rgba(0, 0, 0, 1);

// General Colors
$primary-color              : #C8AA6E;
$primary-color-light        : #F0E6D2;
$primary-color-medium       : #C89B3C;

$color-grey                 : #5B5A56;
$color-grey-light           : rgba(244, 239, 239, 0.548);
$color-grey-medium          : #3C3C41;
$color-white                : #fff;
$primary-active-color-route : linear-gradient(180deg, #231F20 0%, rgba(34, 34, 34, 0.00) 100%);
