@import '../../../../assets/styles/general-styles.scss';

.hero-searchbar{
  max-width: 700px;
  margin: 0px auto;

  label{
    height: 40px;
    display: flex;
    place-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    border: solid 2px $primary-color-dark;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 300ms ease-in-out;
  }

  button{
    padding: 10px;
    height: 99%;
    color: $primary-color-dark;
    cursor: pointer;
    z-index: 1;
    outline: none;
    border: solid 1px transparent;
    display: flex;
    place-content: center;
  }

  button:focus-visible{
    border: solid 1px #795b26;
  }

  .search-hero-button{
    background-color: $primary-background-dark;
    border-radius: 3px 0px 0px 3px;

    i{
      transition: color 300ms ease-in-out;
    }

    &:hover i{
      color: #795b26;
    }
  }

  .search-hero-button:hover{
    i{
      color: #795b26;
    }
  }

  input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left:45px;
    overflow: hidden;
    outline: none;
    color: $color-grey;
    background-color: $primary-background-medium;
  }

  .searchbar-hero-clean{
    overflow: hidden;
    background-color: $primary-background-medium;
    color: #795b26;
    border-radius: 0px 3px 3px 0px;
  }

  .show-clean-icon{
    animation: show-clean-icon 300ms ease-in-out forwards;
  }

  .hide-clean-icon{
    animation: hide-clean-icon 300ms ease-in-out forwards;
  }

  @keyframes show-clean-icon {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes hide-clean-icon {
    0%{
      opacity: 1;
    }
    90%{
      opacity: 0;
    }
    100%{
      opacity: 0;
      display: none;
    }
  }

  .focused-border{
    border-color: #795b26;
  }

  .active-icon{
    color: #795b26;
  }


  .hero-searchbar-options{
    background-color: #1E2328;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    margin-top: -5px;
    padding-top: 5px;

    li{
      padding: 10px;
      font-size: $font-size-title-md;
    }

    li:hover{
      cursor: pointer;
      background-color: #232A30;
    }

    .hero-searchbar-loader{
      display: flex;
      align-items: center;
      gap: 5px;

      // svg{
      //   // animation: rotating-animation 1s infinite linear;
      // }

      @keyframes rotating-animation {
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(360deg);
        }
      }
    }

    .hero-searchbar-loader:hover{
      cursor: default;
      background-color: transparent;
    }
  }
}
