<section class="characters__container">
  <div class="characters-background-container">
    <section class="characters-stats-container">
      <div class="max-width-content">
        <div class="characters-stats">
          <div class="characters-movie-bar characters-item-stat">
            <h2>{{ "Produced Film Progress" | uppercase }}</h2>
            <div class="movie-progressbar-contanier">
              <div class="movie-progressbar-goals">
                <span>43 Films</span>
                <span>Production Goal</span>
                <i class="fa-solid fa-arrow-down"></i>
              </div>
              <div class="movie-progressbar">
                <div class="movie-progressbar-stats">
                  <ul class="movie-progressbar-decoration">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <div class="movie-progressbar-stat">
                    <div class="movie-progressbar-elements">
                      <i class="fa-solid fa-arrow-up"></i>
                      <span>37 Films</span>
                      <span>Produced</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="characters-movie-poster characters-item-stat">
            <picture>
              <img
                ngSrc="https://i.postimg.cc/5t89ZR1F/marvel-poster.png"
                width="100"
                height="100"
                alt="Marvel Poster Image"
              />
            </picture>
          </div>
        </div>
      </div>
    </section>

    <section class="characters__container characters__cards-container">
      <div class="characters-cards-background">
        <div class="max-width-content">
          <section class="characters-cards">
            <div class="character-searchbar-title">
              <h2>{{ "Search The Hero" | uppercase }}</h2>
            </div>

            <div class="hero-searchbar">
              <app-debounce-hero-list></app-debounce-hero-list>
            </div>

            <div class="characters-cards-container">
              <app-hero-card></app-hero-card>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
