@import '../../../../assets/styles/general-styles.scss';

.characters{
  .characters__stats-container {
    padding: 50px 0px;
    background: $primary-radial-gradient, url('https://i.postimg.cc/kgSDYLG5/soldier-background.jpg') no-repeat center;
    background-size: cover;
  }

  .movie-stats{

    .movie-stats__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .movie-stats__movie-bar {
      padding: 15px 15px 60px 15px;
      text-align: center;

      h2 {
        font-size: $font-size-title-lg;
      }
    }

    .movie-stats__movie--stat {
      margin: 0px auto;
      width: 100%;
      max-width: 500px;
      border-radius: 5px;
      opacity: 0.7;
      border: solid 1px $primary-color-dark;
      background-color: $primary-background-medium;
    }

    .movie-stats__progressbar-goals {
      position: relative;
      left: 10px;
      padding: 10px 10px;
      color: $primary-color-medium;
      font-size: $font-size-title-sm;
      text-align: right;

      span {
        display: block;
      }
    }

    .movie-stats__progressbar {
      padding: 8px;
      background-color: $primary-background-medium;
      transform: skew(-12deg);
      -webkit-transform: skew(-12deg);
      -moz-transform: skew(-12deg);
      box-shadow: 0 0 7px $secundary-color,
        0 0 4px $secundary-color,
        0 0 7px $secundary-color;
    }

    .movie-stats__progressbar-stats {
      position: relative;
      background-color: $color-white;
      transform: skew(-6deg);
      -webkit-transform: skew(-6deg);
      -moz-transform: skew(-6deg);
    }

    .movie-stats__progessbar-decorator {
      position: absolute;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 100%;
      width: 100%;

      li {
        width: 100%;
        height: 15px;
        border-right: solid 1px $primary-background-dark;
        content: '';

        &:last-child{
          border-right: none;
        }
      }
    }

    .movie-stats__progressbar-bar {
      height: 15px;
      text-align: right;
      background: $primary-linear-gradient;
      animation: progress-bar-animated 600ms linear forwards;

      @keyframes progress-bar-animated {
        from{
          width: 0%;
        }
        to{
          width: 70%;
        }
      }

      .movie-stats__progressbar-state {
        position: relative;
        top: 35px;
        left: 10px;
        margin-bottom: 40px;
        color: $color-blue;
        font-size: $font-size-title-sm;

        span {
          display: block;
          text-align: right;
        }
      }
    }

    .movie-stats__image-poster {
      width: 100%;
      height: 200px;
      max-height: 230px;
      overflow: hidden;

      picture {
        img {
          opacity: 0.7;
          object-fit: cover;
          transition: opacity 300ms ease-in-out;

          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }

  .characters__heroes-container {
    background: $tertiary-linear-gradient;
  }

  .heroes{

    .heroes__searchbar {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    .heroes__search-title {
      width: 100%;
      color: $primary-color-light;
      font-size: $font-size-title-md;
    }

    .heroes__option-list {
      z-index: 3;
      text-align: left;
    }

    .heroes__cards-container {
      margin-top: 20px;
    }

    .heroes__column-elements{
      @include displayElements(flex,column,center,center);
      gap: 20px;
    }

    .heroes__card-container{
      display: grid;
      grid-template-rows: repeat(auto-fill, auto);
      place-content: center;
      gap: 20px;
    }

    .heroes__cards-paginator{
      width: 150px;
      height: 30px;
    }

    .heroes__center-cards{
      display: grid;
      grid-template-rows: repeat(auto-fill, auto);
      place-items: center;
      gap: 20px;
    }

    .heroes__custom-paginator{
      @include displayElements(flex,row,center,center);
      gap: 10px;

      button{
        display: flex;
        font-size: $font-size-icon;
        border-radius: 100%;
        color: $primary-color-medium;
        background-color: transparent;
        overflow: hidden;

        &:hover{
          opacity: 0.9;
          cursor: pointer;
        }

      }

      .heroes__paginator-pages{
        width: 70px;
        color: $primary-color-medium;
        text-align: center;
      }

      .heroes__paginator-disabled-btn{
        opacity: 0.7;
        cursor: default;
        pointer-events: none;
      }
    }

  }

}

@media (min-width: 840px) {
  .characters{

    .characters__stats-container{
      padding: 120px 0px;

      .movie-stats__container {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .movie-stats{
      .movie-stats__movie-bar {
        h2 {
          font-size: $font-size-title-xl;
        }
      }

      .movie-stats__image-poster {
        height: auto;
      }

      .movie-stats__progressbar-goals {
        font-size: $font-size-title-md;
      }

      .movie-stats__progressbar-state{
        font-size: $font-size-title-md;
      }

    }

    .heroes {
      .heroes__searchbar-title {
        font-size: $font-size-title-lg;
      }

      .heroes__card-container{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
      }
    }
  }
}

@media (min-width: 1140px) {
  .characters{

    .characters__stats-container {
      padding: 0px;
      background: none;
      background-size: none;
    }

    .characters__background-container {
      padding: 50px 0px;
      background: $primary-radial-gradient, url('https://i.postimg.cc/kgSDYLG5/soldier-background.jpg') no-repeat center;
      background-size: cover;
      height: 1050px;
    }

    .characters__heroes-container {
      background: none;
    }

    .heroes{
      .heroes__cards-container .heroes__card-container{
        grid-template-rows: repeat(1, auto);
        grid-template-columns: repeat(4, auto);

        .heroes__cards-loading-error{
          width: max-content;
          height: 100%;
          margin: 0px auto;
        }
      }
    }
  }
}
