<section class="characters__container">
  <div class="characters-background-container">
    <section class="characters-stats-container">
      <div class="max-width-content">

        <!------------- Produced Films Bar Start  ------------->
        <div class="characters-stats">
          <div class="characters-movie-bar characters-item-stat">
            <h2>{{ "Produced Film Progress" | uppercase }}</h2>
            <div class="movie-progressbar-contanier">
              <div class="movie-progressbar-goals">
                <span>100 Films</span>
                <span>Production Goal</span>
                <i class="fa-solid fa-arrow-down"></i>
              </div>
              <div class="movie-progressbar">
                <div class="movie-progressbar-stats">
                  <ul class="movie-progressbar-decoration">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <div class="movie-progressbar-stat">
                    <div class="movie-progressbar-elements">
                      <i class="fa-solid fa-arrow-up"></i>
                      <span>70 Films</span>
                      <span>Produced</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!------------- Produced Films Bar End  ------------->

        <!------------- Heroes Poster Image Start  ------------->
          <div class="characters-movie-poster characters-item-stat">
            <picture>
              <img
                ngSrc="https://i.postimg.cc/5t89ZR1F/marvel-poster.png"
                width="100"
                height="100"
                alt="Marvel Poster Image"
              />
            </picture>
          </div>
        <!------------- Heroes Poster Image End  ------------->
        </div>
      </div>
    </section>

    <section class="characters__container characters__cards-container">
      <div class="characters-cards-background">
        <div class="max-width-content">

        <!------------- Hero Cards Start  ------------->
          <section class="characters-cards">
            <div class="character-searchbar-title">
              <h2>{{ "Search The Hero" | uppercase }}</h2>
            </div>

          <!------------- Debouncetime Hero Start  ------------->
            <div class="hero-searchbar">
              <app-debounce-hero-list [heroList]="heroListCopy" (onSearchSelectedHero)="seachSelectedHero($event)" (onResetHeroList)="resetHeroList()"></app-debounce-hero-list>
            </div>
          <!------------- Debouncetime Hero End  ------------->

            <div class="characters-cards-container">

              <!------------- Skeleton Hero Cards Start  ------------->
              <!-- If the heroList is empty, these cards are loaded -->
                <ng-container *ngIf="isHeroListLoading; else heroCards">
                  <div class="hero-cards-pagination-container">
                    <app-hero-card
                      *ngFor="let card of generateHeroCards()"
                      [isHeroListLoading]="isHeroListLoading">
                    </app-hero-card>
                  </div>
                </ng-container>
              <!------------- Skeleton Hero Cards End  ------------->

              <!------------- Hero Cards Start  ------------->
              <!-- If the heroList is full, this cards are loaded -->
                <ng-template #heroCards>
                  <div class="hero-cards-pagination-container">
                    <app-hero-card
                      *ngFor="let hero of heroList | paginate: paginationConfig"
                      [hero]="hero"
                      >
                    </app-hero-card>
                    <!------------- Paginator Start  ------------->
                    <pagination-template #paginationControls="paginationApi"
                        id="custom"
                        class="hero-cards-paginator"
                        (pageChange)="paginationConfig.currentPage = $event">
                        <div class="custom-pagination">

                          <div class="pagination-previous">
                            <button
                              (click)="paginationControls.previous()"
                              [disabled]="paginationControls.isFirstPage()"
                              [ngClass]="paginationControls.isFirstPage() ? 'paginator-button-disabled' : ''"
                            >
                              <i class="fa-solid fa-circle-chevron-left"
                              ></i>
                            </button>
                          </div>

                          <div class="pagination-pages">
                            <span>
                              {{paginationControls.getCurrent()}} / {{heroList.length / paginationConfig.itemsPerPage }}
                            </span>
                          </div>

                          <div class="pagination-next">
                            <button
                              (click)="paginationControls.next()"
                              [disabled]="paginationControls.isLastPage()"
                              [ngClass]="paginationControls.isLastPage() ? 'paginator-button-disabled' : ''"
                              >
                              <i class="fa-solid fa-circle-chevron-right"></i>
                            </button>
                          </div>

                        </div>
                    </pagination-template>
                    <!------------- Paginator End  ------------->
                  </div>
                </ng-template>
              <!------------- Hero Cards End  ------------->

              <!------------- Error Message Start  ------------->
              <!-- If ocurrs an error whit the hero list api response, this message will show  -->
                <span *ngIf="isHttpRequestFails">Hay un error al cargar data</span>
              <!------------- Error Message End  ------------->
            </div>
          </section>
        <!------------- Hero Cards End  ------------->
        </div>
      </div>
    </section>
  </div>
</section>
