@import '../../../../assets/styles/general-styles.scss';

.home{
  .home__title{
    text-align: center;

    h1,span{
      color: $primary-color-light;
      font-size: $font-size-title-lg;
      display: inline;
    }

    span{
      color: $primary-color-medium;
    }
  }

  .home__hero-images{
    margin-top: 30px;
  }
}

@media (min-width: 740px){
  .home{
    .home__title{
      h1,span{
        font-size: $font-size-title-xl;
      }
    }
  }
}
