@import '../../../../assets/styles/general-styles.scss';

.error-message{
  padding: 90px 30px;
  border-radius: 10px;
  background-color: $primary-background;
  animation: floating-animation 1s ease-in-out normal;


  article{
    text-align: center;

    h2{
      color: $primary-color-medium;
    }

    p{
      margin: 20px 0px;
      font-size: $font-size-title-lg;
      color: $primary-color-light;
    }

    button{
      padding: 10px 50px;
      color: $color-white;
      background-color: $primary-color-medium;
      opacity: 1;
      transition: opacity ease-in-out 300ms;
    }

    button:hover{
      cursor: pointer;
      opacity: 0.8;
    }

  }
}

// .cards-loading-error{
  // animation: floating-animation 6s ease-in-out infinite;
// }

@keyframes floating-animation{
	0% {
    opacity: 0;
		transform: translatey(0px);
	}
	50% {
    opacity: 1;
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}
// TODO!!:  Debo de hacer el commit con el nuevo componente para el error en la carga de las cards. Además debo de anexar los cambios en los demás componentes
