@import './assets/styles/general-styles.scss';

// Reset the naveagtor font-size styles by default.
html{
  font-size: 62.5%;
  font-family: $font-family-base;
}

// General body styles
body{
  color: #fff;
  font-size: 1.6rem;
  background-color: rgba($color: $secondary-background , $alpha: 1);
}

// List styles resets
ul{
  list-style: none;
}

// Images Size Styles
img{
  width: 100%;
  height: 100%;
}

// Max content Styles
.max-width-content{
  width: 95%;
  max-width: 1250px;
  margin: 0px auto;
  padding: 30px 10px;
}

// Carousel control styles
.owl-carousel .owl-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  padding: 0px;
  width: 100%;

  .owl-prev,.owl-next {
    background-color: $primary-color-medium;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 2.0rem;
  }

  .owl-prev:hover,.owl-next:hover {
    background-color: $primary-color;
  }
}

// Carousel control styles
.owl-theme .owl-dots .owl-dot span {
  background: $primary-color-medium;
}

// Carousel control styles
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $primary-color-light;
}
